<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin View</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Task</th>
          <th>Sizes</th>
          <th>Start Time</th>
          <th>Finish Time</th>
        </tr>
      </thead>
      <tbody>
        {% for form in employeetasks %}
          <tr>
            <td>{{ form.employee.username }}</td>
            <td>{{ form.task }}</td>
            <td>
              {% for size in form.sizes.all %}
                {{size}}
              {% endfor %}</td>
            <td>{{ form.start_time }}</td>
            <td>{{ form.finish_time }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>